/**
 * BLOCK - Copyright
 */

#block-block-1 {
  font-size: 0.625em;
  color: $footer-font-color;
  line-height: 1em;
}
#block-block-1 p {
  margin: 0;
}
#block-block-1 a {
  color: $footer-link-font-color;
  text-decoration: none;
  &:hover {
    color: $footer-link-font-color-s-hover;
  }
}




/**
 * BLOCK - Credits
 */

#block-block-2 {
  font-size: 0.938em;
  color: lighten($footer-font-color, 10);
  line-height: 1em;
}
#block-block-2 p {
  margin: 0;
}
#block-block-2 a {
  color: lighten($footer-link-font-color, 10);
  text-decoration: none;
  img { @include opacity(0.7); @include transition(all 0.25s ease); }
  &:hover {
    color: $footer-link-font-color-s-hover;
    img { @include opacity(1); }
  }
}




/**
 * BLOCK - Channels
 */

#block-block-5 ul.channels {
}
#block-block-5 ul.channels li {
  display: block;
  float: left;
  margin: 0 1em 0.3125em 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
#block-block-5 ul.channels li a span {
  display: none;
}
#block-block-5 ul.channels li a {
  display: block;
  /*width: 48px;
  min-height: 48px;*/
  padding: 0;
  font-size: 3em;
  color: lighten($footer-link-font-color, 40);
  line-height: 1em;
  text-decoration: none;
}
#block-block-5 ul.channels li a:hover {
  color: lighten($footer-link-font-color-s-hover, 20);
}
#block-block-5 ul.channels li.facebook a {
}
#block-block-5 ul.channels li.facebook a:hover {
  color: rgb(59, 89, 152);
}
#block-block-5 ul.channels li.twitter a {
}
#block-block-5 ul.channels li.twitter a:hover {
  color: rgb(0, 172, 237);
}
#block-block-5 ul.channels li.delicious a {
}
#block-block-5 ul.channels li.delicious a:hover {
  color: rgb(0, 0, 0);
}
#block-block-5 ul.channels li.lastfm a {
  padding-top: 1em;
  font-size: 1.5em;
}
#block-block-5 ul.channels li.lastfm a:hover {
  color: rgb(213, 16, 7);
}
#block-block-5 ul.channels li.linkedin a {
}
#block-block-5 ul.channels li.linkedin a:hover {
  color: rgb(0, 119, 181);
}




/**
 * BLOCK - Powered by Drupal
 */

#block-block-20 {
  font-size: 0.938em;
  color: lighten($footer-font-color, 10);
  line-height: 1em;
}
#block-block-20 p {
  margin: 0;
}
#block-block-20 a {
  color: lighten($footer-link-font-color, 10);
  text-decoration: none;
  img { @include opacity(0.6); @include transition(all 0.25s ease); }
  &:hover {
    color: $footer-link-font-color-s-hover;
    img { @include opacity(1); }
  }
}
