/**
 * BLOCK - Copyright
 */

#block-block-1 {
  font-size: 0.625em;
  color: $footer-font-color;
  line-height: 1em;
  p { margin: 0; }
  a {
    color: $footer-link-font-color;
    text-decoration: none;
    &:hover {
      color: $footer-link-font-color-s-hover;
    }
  }
}




/**
 * BLOCK - Credits
 */

#block-block-2 {
  font-size: 0.938em;
  color: lighten($footer-font-color, 10);
  line-height: 1em;
  p { margin: 0; }
  a {
    color: lighten($footer-link-font-color, 10);
    text-decoration: none;
    img { @include opacity(0.7); @include transition(all 0.25s ease); }
    &:hover {
      color: $footer-link-font-color-s-hover;
      img { @include opacity(1); }
    }
  }
}




/**
 * BLOCK - Channels
 */

#block-block-5 ul.channels {
}
#block-block-5 ul.channels li {
  display: block;
  float: left;
  margin: 0 1em 0.3125em 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
#block-block-5 ul.channels li a span {
  display: none;
}
#block-block-5 ul.channels li a {
  display: block;
  padding: 0;
  font-size: 2.5em;
  color: lighten($footer-link-font-color, 40);
  line-height: 1em;
  text-decoration: none;
}
#block-block-5 ul.channels li a:hover {
  color: lighten($footer-link-font-color-s-hover, 20);
}
#block-block-5 ul.channels li.facebook a {
}
#block-block-5 ul.channels li.facebook a:hover {
  color: rgb(59, 89, 152);
}
#block-block-5 ul.channels li.twitter a {
}
#block-block-5 ul.channels li.twitter a:hover {
  color: rgb(0, 172, 237);
}
#block-block-5 ul.channels li.delicious a {
}
#block-block-5 ul.channels li.delicious a:hover {
  color: rgb(0, 0, 0);
}
#block-block-5 ul.channels li.lastfm a {
  padding-top: 1em;
  font-size: 1.5em;
}
#block-block-5 ul.channels li.lastfm a:hover {
  color: rgb(213, 16, 7);
}
#block-block-5 ul.channels li.linkedin a {
}
#block-block-5 ul.channels li.linkedin a:hover {
  color: rgb(0, 119, 181);
}




/**
 * BLOCK - Powered by Drupal
 */

#block-block-20 {
  font-size: 0.938em;
  color: lighten($footer-font-color, 10);
  line-height: 1em;
  p { margin: 0; }
  a {
    color: lighten($footer-link-font-color, 10);
    text-decoration: none;
    img { @include opacity(0.6); @include transition(all 0.25s ease); }
    &:hover {
      color: $footer-link-font-color-s-hover;
      img { @include opacity(1); }
    }
  }
}




/**
 * BLOCK - Site version
 */

#block-block-9 {
  display: inline;
  float: right;
  font-size: 0.75rem;
  color: lighten($header-font-color, 10);
  .menu { margin: 0; /* Override system default. */ }
  .leaf { padding: 0 0.25em 0 0.25em; /* Override system default. */ }
  .site-version {
    @include icon-field-items;
    text-transform: uppercase;
    &:before {
      @include icon-field-item-before;
      width: 1.75em; //* Default: 2.142857142857143em; */
      content: "\f121";
    }
  }
}




/**
 * BLOCK - User
 */

#block-block-12 {
  display: inline;
  float: right;
  font-size: 0.75rem;
  color: lighten($header-font-color, 10);
  .menu { margin: 0; /* Override system default. */ }
  .leaf {
    padding: 0 0.25em 0 0.25em; /* Override system default. */
    a {
      color: inherit;
      text-decoration: none;
      &:hover { color: $navigation-font-color-s-hover; }
    }
  }
  .user-name {
    @include icon-field-items;
    text-transform: uppercase;
    &:before {
      @include icon-field-item-before;
      width: 1.75em; //* Default: 2.142857142857143em; */
      content: "\f007";
    }
  }
}
