/**
 * COMMENTS
 */

/* Default */
#comments {
  border-top: 1px solid rgb(153, 153, 153);
}
#comments h2.title.comment-form {
  font-size: 1.25em;
  color: rgb(102, 102, 102);
}
#comments .comment {
  border-top: 1px dashed rgb(229, 229, 229);
  margin: 0.3125em 0 0.3125em 0;
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  /*background: rgb(243, 243, 243);*/
}
#comments .comment .content {
  margin: 0px 0 0px 0;
}
#comments .comment .content p {
  margin: 0.125em 0 0.125em 0;
}
#comments .comment .submitted {
  font-size: 0.75em;
  color: rgb(153, 153, 153);
}
#comments .comment .submitted a.permalink {
  color: rgb(153, 153, 153);
}
#comments .comment .links {
  margin: 0 0 0 0;
}
/*
#comments .comment .links a {
padding: 1px 3px 1px 3px;
background-color: rgb(204, 204, 204);
font-size: 10px;
color: rgb(255, 255, 255);
text-transform: uppercase;
}
#comments .comment .links a:hover,
#comments .comment .links a:active {
background-color: rgb(153, 153, 153);
}*/
/*
#comments .comment a.permalink {
padding: 1px 3px 1px 3px;
font-size: 10px;
color: rgb(179, 179, 179);
text-transform: uppercase;
}
#comments .comment a.permalink:hover,
#comments .comment a.permalink:active {
background-color: rgb(153, 153, 153);
color: rgb(255, 255, 255);
}*/

#comments #edit-comment-body-und-0-format {
  display: none;
}

.form-item-mollom-captcha .description {
  font-size: 0.625em;
  color: rgb(102, 102, 102);
}

.node .comments,
.node .comments h2.title {
  color: rgb(102, 102, 102) !important;
}

.node .comments fieldset.filter-wrapper {
  display: none;
}
