/**
 * NODE - Article - Default
 */

.node-article {
}
.node-article .field-name-field-article-image-2 {
  margin: 1.5em 0 0 0;
}
.node-article .field-name-field-article-image-2 .field-item {
  float: left !important;
  width: 21%;
  margin: 2% 2% 2% 2%;
}
