/**
 * NODE - Feed - Content region
 */

/* Default. */
.feed-item h3.feed-item-title {
  margin: 1.25em 0 0 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  color: rgb(255, 134, 42);
  line-height: 1em;
  text-align: left;
}
.feed-item h3.feed-item-title a {
  color: rgb(255, 134, 42);
  text-decoration: none;
}
.feed-item h3.feed-item-title a:hover {
  color: #00879c;
}
.feed-item .feed-item-description {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 0.688em;
  font-weight: normal;
  color: rgb(204, 204, 204);
  line-height: 1em;
  text-align: left;
}
.feed-item .feed-item-timestamp {
  margin: 0.1875em 0 0 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 0.625em;
  font-weight: bold;
  color: rgb(153, 153, 153);
  text-transform: uppercase;
  line-height: 0.75em;
  text-align: left;
}

/* Microblog. */
.feed-item.feed-item-type-microblog {
  margin: 0;
  padding: 0.625em 0 0.625em 0;
  border-bottom: 1px dashed rgb(153, 153, 153);
}
.feed-item.feed-item-type-microblog h3.feed-item-title {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.feed-item.feed-item-type-microblog .feed-item-description {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 0.875em;
  font-weight: normal;
  color: rgb(204, 204, 204);
  line-height: 1.125em;
  text-align: left;
}
.feed-item.feed-item-type-microblog .feed-item-description a {
  color: rgb(29, 176, 221);
}

/* Twitter feed. */
.container-socialmedia-feed #feed-twitter {
  width: 170px;
}
.container-socialmedia-feed #feed-twitter .tweet {
  padding: 2px 0 2px 0;
  border-bottom: 1px dashed #9f9f9f;
  /*background: url(/sites/all/themes/o0/images/icons/o0-24x24.png) left 4px no-repeat;*/
  font-family: Arial, Helvetica, sans-serif;
}
.container-socialmedia-feed #feed-twitter .tweet:first-child {
  border-top: 1px dashed #9f9f9f;
}
.container-socialmedia-feed #feed-twitter .tweet .tweet-content {
  display: block;
  font-size: 10px;
  font-weight: normal;
  color: #777;
  line-height: 13px;
}
.container-socialmedia-feed #feed-twitter .tweet .tweet-content a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #3274d0;
}
.container-socialmedia-feed #feed-twitter .tweet .tweet-timestamp {
  display: block;
  font-size: 9px;
  font-style: italic;
  color: #999;
}
.container-socialmedia-feed a span.url {
  display: block;
  padding: 5px 0 0 5px;
  font-size: 9px;
  color: #333;
  line-height: 9px;
  text-decoration: none;
}
.container-socialmedia-feed a:hover span.url {
  color: #666;
}
