/**
 * NODE - Project - Default
 */

.node-project {
  /* Decrease all heading font sizes by -0.375em to accommodate narrow column layout. */
  h1 { font-size: 2.5em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.75em; }
  h4 { font-size: 1.5em; }
  h5 { font-size: 1.250em; }
  h6 { font-size: 1em; }

  /* Release date. */
  .meta .field-type-date {
    .field-items {
      @include icon-field-items;
    }

    .field-item:before {
      @include icon-field-item-before;
      content: "\f073" !important;
    }
  }

  .field-name-field-project-type {
    font-size: 1.375em;
    color: darken($color-2-grey, 20);
  }

  .field-name-field-project-image {
    margin: 0.5em 1em 4em 1em;

    .field-item {
      position: relative;

      .field-name-field-project-image-mobile-laptop-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }
  }

  .group-project-image-2 {
    margin: 0 5em 0 5em;
  }

  .field-name-field-project-link {}

  /* Services. */
  .field-name-field-global-t-service {
    ul { @include icon-lu; }
    li { @include icon-li; }

    li:before {
      @include icon-li-before;
      content: "\f00c";
      color: $color-2-grey;
    }
  }

  /* Experience. */
  .field-name-field-global-t-person-exper-descr * {
    //font-size: 0.875rem;
    //color: $color-2-grey;
  }

  /* Block-level links. */
  a.blocklevel {
    &:hover {
      .field-name-field-project-type { color: darken($color-2-grey, 100); }
    }
  }
}




/**
 * VIEWS
 */

.view .node-project {
  .field-name-field-project-image {
    margin: 0; /* Reset margin to 0 to override margin used in default node rules. */
  }
}




/**
 * VIEWS - Project - Page Grid
 */

.view .views-view-grid .node-project {
  .field-name-field-project-type { font-size: 1rem; }
}




/**
 * VIEWS - Project - Embed in node
 */

.view.view-project-reference .node-project {
  .field-name-field-project-type {
    font-size: 1rem;
  }
}
