/**
 * NODE - Article - Default
 */

.node-article {
  .field-name-field-article-image-2 {
    margin: 1.5em 0 0 0;
    .field-item {
      float: left !important;
      width: 21%;
      margin: 2% 2% 2% 2%;
    }
  }
}




/**
 * VIEWS - Blog - 'Recent blog' block
 */

#block-views-blog-block-recent {
  .more-link {
    padding: 1em 0 1em 0;
    text-align: center;
  }

  .button.view-more {
    margin-bottom: 0;
    padding-top: 1rem; padding-right: 2rem; padding-bottom: 1.0625rem; padding-left: 2rem; font-size: 1rem;
    font-weight: bold !important;

    @media only screen and (min-width: $mq-breakpoint-medium) {
      display: inline-block;
    }
  }
}




/**
 * VIEWS - Microblog - 'Recent microblog' block
 */

#block-views-microblog-block-recent {
  .more-link {
    padding: 1em 0 1em 0;
    text-align: center;
  }

  .button.view-more {
    margin-bottom: 0;
    padding-top: 1rem; padding-right: 2rem; padding-bottom: 1.0625rem; padding-left: 2rem; font-size: 1rem;
    font-weight: bold !important;

    @media only screen and (min-width: $mq-breakpoint-medium) {
      display: inline-block;
    }
  }
}