/**
 * NODE - Person - Default
 */

.node-person {
}

/* About. */
.node-person {
  .field-name-field-person-about {
  }
}

/* Education. */
.node-person .field-name-field-person-educ > .field-items > .field-item,
.node-person .field-name-field-person-educ-2 > .field-items > .field-item {
  padding: 1em 0 1em 0;
  border-bottom: 1px dashed $color-2-grey;

  &:first-child {
    border-top: 1px dashed $color-2-grey;
  }
}
.node-person .field-name-field-person-educ-educ {
  font-size: 1.125em;
  font-weight: bold;
}
.node-person .field-name-field-person-educ-inst {
}
.node-person .field-name-field-person-educ-loc {
  color: $color-2-grey;
}
.node-person .field-name-field-person-educ-date {
  font-size: 1.250em;
  font-weight: bold;
  color: lighten($color-2-grey, 15);
  text-align: right;
}
@media only screen and (max-width: $mq-breakpoint-small) {
  .node-person .field-name-field-person-educ-date { font-size: 1em; }
}
.node-person .field-name-field-person-educ-descr {
  font-size: 0.875em;
  color: $color-2-grey;
}

/* Experience. */
.node-person .field-name-field-person-exper > .field-items > .field-item,
.node-person .field-name-field-person-exper-2 > .field-items > .field-item {
  padding: 1em 0 1em 0;
  border-bottom: 1px dashed $color-2-grey;

  &:first-child {
    border-top: 1px dashed $color-2-grey;
  }
}
.node-person .field-name-field-person-exper-exper {
  font-size: 1.125em;
  font-weight: bold;
}
.node-person .field-name-field-person-exper-org {
}
.node-person .field-name-field-person-exper-loc {
  color: $color-2-grey;
}
.node-person .field-name-field-person-exper-date {
  font-size: 1.250em;
  font-weight: bold;
  color: lighten($color-2-grey, 15);
  text-align: right;
}
@media only screen and (max-width: $mq-breakpoint-small) {
  .node-person .field-name-field-person-exper-date { font-size: 1em; }
}
.node-person .field-name-field-person-exper-descr {
  font-size: 0.875em;
  color: $color-2-grey;
}

/* Skills. */
.node-person .field-name-field-person-skill {
}
.node-person .field-name-field-person-skill > .field-items > .field-item,
.node-person .field-name-field-person-skill-2 > .field-items > .field-item {
  position: relative;
  float: left;
  padding: 2% 2%;
}
.node-person .field-name-field-person-skill-skill {
  top: 100px;
  width: 120px;
  font-weight: bold;
  text-align: center;
}

/* Software. */
.node-person {
  .field-name-field-person-software {
    ul { @include icon-ul; }
    li { @include icon-li; margin-top: 0.5em; margin-bottom: 0.5em; font-size: 1.125rem; }

    li:before {
      @include icon-li-before;
      content: "\f00c";
      color: $color-2-grey;
    }

    .software-descr {
      display: block;
      font-size: 0.688em;
      color: $color-2-grey;
      line-height: 0.75em;
    }
  }
}

.node-person {
  .field-name-field-person-software-2 {
    ul { @include icon-ul; }
    li { @include icon-li; margin-top: 0.5em; margin-bottom: 0.5em; }

    li:before {
      @include icon-li-before;
      content: "\f00c";
      color: $color-2-grey;
    }

    .software-descr { font-size: 0.813em; }
  }
}




/**
 * VIEW - About me (teaser)
 */

.view-display-id-block_about_teaser {
  .node-person {
    .field-name-field-person-about {
      font-family: $heading-font-stack;
      font-size: 1.625em;
      color: hsl(0, 0, 40);
    }
  }
}




/**
 * VIEW - About me
 */

.view-display-id-block_about {
  .node-person {
    .field-name-field-person-about {
      font-family: $heading-font-stack;
      font-size: 1.25em;
    }
  }
}




/**
 * BLOCK - Curriculum vitae button
 */

#block-block-13,
#block-block-14,
.field-name-field-person-cv-file .field-item
{
  text-align: center;

  .button {
    &[href="/about/cv"] {
      background-color: lighten($color-2-blue, 10);
      font-weight: bold !important;
      &:hover, &:focus { background-color: lighten($color-2-blue, 0); }
    }

    &[href$=".pdf"] {
      background-color: lighten($color-2-blue, 10);
      font-weight: bold !important;
      &:hover, &:focus { background-color: lighten($color-2-blue, 0); }
    }
  }
}




/**
 * TODO - Clean up all CSS rules below.
 */

#block-block-10
{
  .button {
    margin-right: 0.5em;
    padding-top: 0.625rem; padding-right: 1.25rem; padding-bottom: 0.6875rem; padding-left: 1.25rem; /* 'Small' button CSS rules. */
  }
}

#block-views-person-block-about {
  .views-row {
    border: none;
  }
}

body.page-about-cv {
  .node-title { display: none; }
  .field-item:first-child, .views-row.views-row-first {
    border-top: none !important;
  }
}