/**
 * NAVIGATION
 */




/**
 * NAVIGATION - Main menu
 */

#navigation .menu {
  float: right;
  font-family: $navigation-font-stack !important;
  font-size: 1.75rem;
  font-weight: bold;
  color: $navigation-font-color;
  list-style-type: none !important;

  .leaf {
    float: left;
    a {
      font-family: $navigation-font-stack !important;
      color: inherit;
      text-decoration: none;
      &.active { color: $navigation-font-color-s-active; }
      &:hover { color: $navigation-font-color-s-hover; }
    }
  }

  @media only screen and (max-width: $mq-breakpoint-medium) {
    font-size: 1.438rem;
  }
}




/**
 * NAVIGATION - Global menu
 */

#navigation-global .menu {
  margin: 0; /* Override system default. */
  font-family: $font-stack;
  font-size: 0.75rem;
  font-weight: normal;
  color: $navigation-font-color;
  list-style-type: none !important;
  text-transform: uppercase;

  .leaf {
    padding: 0 0.25em 0 0.25em; /* Override system default. */
    float: left;
    a {
      color: inherit;
      text-decoration: none;
      &:hover { color: $navigation-font-color-s-hover; }
    }
  }
}




/**
 * NAVIGATION - Mobile
 */

/* Override Foundation defaults. */
#top-bar-container .columns { padding: 0; }
.top-bar.expanded .toggle-topbar a span { box-shadow: none; }
.top-bar > * {
  background: rgb(0, 0, 0) !important;
}

.top-bar-section {
  & > * { background: rgb(0, 0, 0) !important; }
  .leaf { padding: 0; }

  ul li > a {
    background: rgb(0, 0, 0);
    font-family: $navigation-font-stack;
    font-size: 1rem;
    font-weight: bold;
  }
}




/**
 * LANGUAGE SWITCHER
 */

#block-locale-language-content {
display: block;
clear: both;
}
#block-locale-language-content h2 {
display: none;
}
#block-locale-language-content ul.language-switcher-locale-url {
margin: 0;
padding: 0;
list-style: none;
}
#block-locale-language-content ul.language-switcher-locale-url li {
float: left;
margin: 0 10px 0 0;
font-size: 9px;
text-transform: uppercase;
}
#block-locale-language-content ul.language-switcher-locale-url li.last {
float: none;
}
#block-locale-language-content ul.language-switcher-locale-url li a {
color: #999;
text-decoration: none;
}
#block-locale-language-content ul.language-switcher-locale-url li a:hover {
color: #666;
}
#block-locale-language-content ul.language-switcher-locale-url li a.active {
color: #ccc;
}




/**
 * PAGER
 */

div.item-list ul.pager {
  height: 29px;
  padding-top: 13px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
}

div.item-list ul.pager li {
  background: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 0;
  margin: 0;
color: rgb(153, 153, 153);
}

div.item-list ul.pager li a {
  margin: 0;
  padding: 0 6px;
color: rgb(153, 153, 153);
text-decoration: none;
}

div.item-list ul.pager li.pager-current {
  background: #d6d6d6 url(../images/bg-pager-li.jpg) repeat-x 0 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 8px;
  margin: 0;
color: rgb(51, 51, 51);
}

div.item-list ul.pager li.pager-current a {
  border-left: none;
}

div.item-list ul.pager li.pager-previous a,
div.item-list ul.pager li.pager-next a,
div.item-list ul.pager li.pager-first a,
div.item-list ul.pager li.pager-last a {
display: none;
}
