/**
 * GLOBAL ELEMENTS
 */

* {
  font-family: $font-stack;
}

body {
  font-size: 100%; /* Fix the exaggerated text resizing in IE6/IE7. */
  font-size: $font-size-baseline; /* Set font size baseline. */
  line-height: $font-line-height-baseline; /* Set line height baseline. */
  color: $font-color;
  //background: rgb(255, 255, 255) url(../images/page-tpl-page-bg.jpg) repeat top center;
  background: rgb(255, 255, 255);
}

p {
  margin: 1em 0 1em 0;
  font-size: inherit !important; /* Override ZURB Foundation declaration. */

  &.first { font-size: 1.25em; color: transparentize($font-color, 0.1); }
  &.emphasis { font-size: 1.25em; }
  &.note.small { font-size: 0.825em; font-style: italic; color: rgb(153, 153, 153); }
}

a {
  color: $link-font-color;
  text-decoration: none;
  @include transition(all 0.25s ease);

  &:hover {
    color: $link-font-color-s-hover;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em 0;
  font-family: $heading-font-stack;
  font-weight: bold;
  color: $heading-font-color;
  line-height: 1.25em;

  a {
    color: $heading-font-color;
    text-decoration: none !important;
  }

  a:hover {
    color: $heading-font-color-s-hover;
  }
}

ul, ol {
  margin: 0.75em 1.25em 0.75em 1.875em;
  font-size: inherit;
}
ul ul, ol ol, ul ul ul, ol ol ol {
  font-size: inherit;
}

form { margin: 0; }

img { border: 0; }

strong, b {}

em {}

input {
  &:focus {}
}

/* Set font baseline for containers. */
#content-content {
  font-size: $font-size-baseline;
  font-weight: normal;
  line-height: $font-line-height-baseline;
}

/* Override Drupal system.menus.css. */
ul li.leaf {
  list-style: none;
  list-style-image: none;
}