/**
 * 'o0' THEME STYLESHEET
 * RESET
 * 22/05/2009
 * 
 * by Olivier Dubois, olivierdubois.com
 * 
 */




/**
 * OVERRIDE MODULES
 */

/* Administration Menu */
body #admin-menu {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
}
#admin-menu ul li.admin-menu-toolbar-category {
margin: 0 2px 0 2px !important;
}
#admin-menu ul li.admin-menu-toolbar-category > a {
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-bottom-left-radius: 5px 5px;
font-size: 14px;
color: #999;
text-shadow: #000 0px 2px 0px;
}
#admin-menu ul li.admin-menu-toolbar-category > a:hover {
background-color: #555;
color: #eee;
text-shadow: #000 0px 2px 0px;
}
#admin-menu ul li.admin-menu-toolbar-category > a.active-trail {
background: #666;
color: #fff;
text-shadow: #333 0px 1px 0px;
}
#admin-menu ul li.admin-menu-action a, 
#admin-menu ul li.admin-menu-action.admin-menu-account a, 
#admin-menu ul li.admin-menu-action.admin-menu-users a {
font-size: 9px;
color: #999;
}
