/**
 * 'o0' THEME STYLESHEET
 *
 *
 * Created 22/04/2009
 * Modified 05/2013
 *
 * Handcrafted by Olivier Dubois, olivierdubois.com
 *
 * Built with Sass awesomeness
 *
 */
/**
 * GLOBAL ELEMENTS
 */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 100%;
  /* Fix the exaggerated text resizing in IE6/IE7. */
  font-size: 16px;
  /* Set font size baseline. */
  line-height: 26px;
  /* Set line height baseline. */
  color: #333333;
  background: white;
}

p {
  margin: 1em 0 1em 0;
}
p.first {
  font-size: 1.25em;
  color: rgba(51, 51, 51, 0.9);
}
p.emphasis {
  font-size: 1.25em;
}
p.note.small {
  font-size: 0.825em;
  font-style: italic;
  color: #999999;
}

a {
  color: #178db1;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a:hover {
  color: #178db1;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em 0;
  font-family: "jaf-facitweb-1", "jaf-facitweb-2", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ff862a;
  line-height: 1.25em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #ff862a;
  text-decoration: none !important;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #ff5529;
}

ul, ol {
  margin: 0.75em 1.25em 0.75em 1.875em;
}

ul ul, ol ol, ul ul ul, ol ol ol {
  font-size: inherit;
}

form {
  margin: 0;
}

img {
  border: 0;
}

/* Set font baseline for containers. */
#content-content {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}

/**
 * LAYOUT
 */
* {
  margin: 0;
  padding: 0;
}

#top-nav-container {
  height: 100px;
}

#header-wrapper {
  margin: 0 0 50px 0;
}

#postscript-wrapper {
  padding: 1em 0 1em 0;
}

#footer-wrapper {
  padding: 1em 0 1em 0;
}

.column {
  float: left;
}

/**
 * NAVIGATION TOP-LEVEL
 */
#navigation a {
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ff862a;
  text-decoration: none;
}

/**
 * LANGUAGE SWITCHER
 */
#block-locale-language-content {
  display: block;
  clear: both;
}

#block-locale-language-content h2 {
  display: none;
}

#block-locale-language-content ul.language-switcher-locale-url {
  margin: 0;
  padding: 0;
  list-style: none;
}

#block-locale-language-content ul.language-switcher-locale-url li {
  float: left;
  margin: 0 10px 0 0;
  font-size: 9px;
  text-transform: uppercase;
}

#block-locale-language-content ul.language-switcher-locale-url li.last {
  float: none;
}

#block-locale-language-content ul.language-switcher-locale-url li a {
  color: #999;
  text-decoration: none;
}

#block-locale-language-content ul.language-switcher-locale-url li a:hover {
  color: #666;
}

#block-locale-language-content ul.language-switcher-locale-url li a.active {
  color: #ccc;
}

/**
 * PAGER
 */
div.item-list ul.pager {
  height: 29px;
  padding-top: 13px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

div.item-list ul.pager li {
  background: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 0;
  margin: 0;
  color: #999999;
}

div.item-list ul.pager li a {
  margin: 0;
  padding: 0 6px;
  color: #999999;
  text-decoration: none;
}

div.item-list ul.pager li.pager-current {
  background: #d6d6d6 url(../images/bg-pager-li.jpg) repeat-x 0 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 8px;
  margin: 0;
  color: #333333;
}

div.item-list ul.pager li.pager-current a {
  border-left: none;
}

div.item-list ul.pager li.pager-previous a,
div.item-list ul.pager li.pager-next a,
div.item-list ul.pager li.pager-first a,
div.item-list ul.pager li.pager-last a {
  display: none;
}

/**
 * BUTTON - Default - ZURB Foundation
 */
/* CSS from ZURB Foundation (v5) 'button' rule, 'as-is' from 'foundation.css'. */
button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1.0625rem;
  padding-bottom: 1rem;
  -webkit-appearance: none;
  border: none;
  background-color: #999999;
  border-color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  color: white;
  text-decoration: none;
  text-transform: none;
}

/* Overrides */
button, .button {
  /* CSS from ZURB Foundation (v5) 'button' rules, 'as-is' from 'foundation.css'. */
  /* 'Brown' style. */
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #666666;
  border-color: #333333;
  color: white;
  text-decoration: none;
}
button.large, .button.large {
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  font-size: 1.25rem;
}
button.small, .button.small {
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
}
button.tiny, .button.tiny {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  font-size: 0.6875rem;
}
button.expand, .button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
button.left-align, .button.left-align {
  text-align: left;
  text-indent: 0.75rem;
}
button.right-align, .button.right-align {
  text-align: right;
  padding-right: 0.75rem;
}
button.radius, .button.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
button.round, .button.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
button.button-style-brown, .button.button-style-brown {
  background-color: #691a02;
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
}
button.button-style-brown:hover, button.button-style-brown:focus, .button.button-style-brown:hover, .button.button-style-brown:focus {
  background-color: #3f1001;
  color: white;
}
@media only screen and (min-width: 767px) {
  button, .button {
    display: inline-block;
  }
}

/**
 * BUTTON - Comments, Language Link - Reply, Permalink, etc.
 */
/* CSS from ZURB Foundation 'button' class, 'as-is' from 'foundation.css' */
.comment-reply a,
a.permalink,
a.language-link {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #999999;
  border-color: #7a7a7a;
  color: white;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

/* Overrides */
.comment-reply a,
a.permalink,
a.language-link {
  background-color: #cccccc;
  border: none;
  box-shadow: none;
  /*-webkit-border-radius: 3px; border-radius: 3px;*/
  /* .button.radius */
  /*font-family: inherit;*/
  font-size: 0.6875em;
  /* .button.tiny */
  /*font-weight: bold;*/
  /*color: rgb(255, 255, 255);*/
  text-transform: uppercase;
  padding-top: 0.3333em;
  padding-bottom: 0.2916em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-appearance: none;
}

a.permalink {
  background: none;
  color: #b7b7b7;
}

.comment-reply a:hover, .comment-reply a:focus,
a.permalink:hover, a.permalink:focus,
a.language-link:hover, a.language-link:focus {
  background-color: #a3a3a3;
  border: none;
  color: white;
}

@media only screen and (min-width: 768px) {
  .comment-reply a {
    display: inline-block;
  }
}
/**
 * FORM
 */
/**
 * PANELS
 */
/* Panel title. */
h2.pane-title {
  margin: 0em 0 0em 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  font-weight: normal;
  color: #ff862a;
  line-height: 2.125em;
}

/**
 * BLOCK - Copyright
 */
#block-block-1 {
  font-size: 0.625em;
  color: #666666;
  line-height: 1em;
}

#block-block-1 p {
  margin: 0;
}

#block-block-1 a {
  color: #666666;
  text-decoration: none;
}
#block-block-1 a:hover {
  color: #333333;
}

/**
 * BLOCK - Credits
 */
#block-block-2 {
  font-size: 0.938em;
  color: gray;
  line-height: 1em;
}

#block-block-2 p {
  margin: 0;
}

#block-block-2 a {
  color: gray;
  text-decoration: none;
}
#block-block-2 a img {
  filter: alpha(opacity=7);
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#block-block-2 a:hover {
  color: #333333;
}
#block-block-2 a:hover img {
  filter: alpha(opacity=10);
  -moz-opacity: 1;
  opacity: 1;
}

/**
 * BLOCK - Channels
 */
#block-block-5 ul.channels li {
  display: block;
  float: left;
  margin: 0 1em 0.3125em 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

#block-block-5 ul.channels li a span {
  display: none;
}

#block-block-5 ul.channels li a {
  display: block;
  /*width: 48px;
  min-height: 48px;*/
  padding: 0;
  font-size: 3em;
  color: #cccccc;
  line-height: 1em;
  text-decoration: none;
}

#block-block-5 ul.channels li a:hover {
  color: #666666;
}

#block-block-5 ul.channels li.facebook a:hover {
  color: #3b5998;
}

#block-block-5 ul.channels li.twitter a:hover {
  color: #00aced;
}

#block-block-5 ul.channels li.delicious a:hover {
  color: black;
}

#block-block-5 ul.channels li.lastfm a {
  padding-top: 1em;
  font-size: 1.5em;
}

#block-block-5 ul.channels li.lastfm a:hover {
  color: #d51007;
}

#block-block-5 ul.channels li.linkedin a:hover {
  color: #0077b5;
}

/**
 * BLOCK - Powered by Drupal
 */
#block-block-20 {
  font-size: 0.938em;
  color: gray;
  line-height: 1em;
}

#block-block-20 p {
  margin: 0;
}

#block-block-20 a {
  color: gray;
  text-decoration: none;
}
#block-block-20 a img {
  filter: alpha(opacity=6);
  -moz-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#block-block-20 a:hover {
  color: #333333;
}
#block-block-20 a:hover img {
  filter: alpha(opacity=10);
  -moz-opacity: 1;
  opacity: 1;
}

/**
 * COMMENTS
 */
/* Default. */
#comments {
  border-top: 1px solid #999999;
}

#comments h2.title.comment-form {
  font-size: 1.25em;
  color: #666666;
}

#comments .comment {
  border-top: 1px dashed #e5e5e5;
  margin: 0.3125em 0 0.3125em 0;
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  /*background: rgb(243, 243, 243);*/
}

#comments .comment .content {
  margin: 0px 0 0px 0;
}

#comments .comment .content p {
  margin: 0.125em 0 0.125em 0;
}

#comments .comment .submitted {
  font-size: 0.75em;
  color: #999999;
}

#comments .comment .submitted a.permalink {
  color: #999999;
}

#comments .comment .links {
  margin: 0 0 0 0;
}

#comments #edit-comment-body-und-0-format {
  display: none;
}

.form-item-mollom-captcha .description {
  font-size: 0.625em;
  color: #666666;
}

.node .comments,
.node .comments h2.title {
  color: #666666 !important;
}

.node .comments fieldset.filter-wrapper {
  display: none;
}

/**
 * NODE - Defaults
 */
/* Heading. */
h1 {
  font-size: 2.625em;
}

h2 {
  font-size: 2.375em;
}

h3 {
  font-size: 2.125em;
}

h4 {
  font-size: 1.875em;
}

h5 {
  font-size: 1.625em;
}

h6 {
  font-size: 1.375em;
}

/* Page title, node title. */
#page-title, .node-title {
  margin-top: 0;
  color: #ff862a;
}

.node .meta {
  margin: -1em 0 1em 0;
  /* Submitted line. */
  /* Date fields. */
}
.node .meta .submitted {
  font-size: 0.75em;
  color: #999999;
  text-transform: uppercase;
  font-size: 0.625em;
  font-weight: bold;
}
.node .meta .field-type-date {
  font-size: 0.75em;
  color: #999999;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
}
.node .meta .field-type-date .field-items {
  position: relative;
  padding-left: 0;
  margin-left: 2.142857142857143em;
}
.node .meta .field-type-date .field-item:before {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.525em;
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f017";
}
.node .legal {
  font-size: 0.75em;
  color: #999999;
  text-transform: none;
  font-style: italic;
}

/* Block-level links. */
a.blocklevel {
  color: inherit;
  text-decoration: none;
}
a.blocklevel * {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a.blocklevel:hover .node-title {
  color: #ff5529;
}
a.blocklevel:hover .field-type-date {
  color: #737373;
}

/**
 * VIEWS
 */
/* Row. */
.view .views-row {
  padding: 0.625em 0 0.625em 0;
  border-bottom: 1px dashed #999999;
}
.view .views-row.views-row-first {
  border-top: 1px dashed #999999;
}

/* Node. */
.view .node .node-title {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1.125em;
  line-height: 1.125em;
}
.view .node .meta {
  margin: 0;
}
.view .node .meta .field-type-date {
  font-size: 0.75em;
}

/**
 * VIEWS - Page Grid
 */
/* Default. */
.view .views-view-grid .node {
  margin: 0;
  padding: 1em 0 1em 0;
}
.view .views-view-grid .node .field-type-date {
  font-size: 0.75em;
}
@media only screen and (max-width: 767px) {
  .view .views-view-grid .node {
    border-bottom: 1px dashed #999999;
  }
}

.view .views-view-grid .node-title {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1.125em;
  line-height: 1.125em;
}

/**
 * OVERRIDE
 */
/* Homepage title. */
body.front #content-title,
body.page-node-1 #content-title {
  display: none;
}

/* Project node. */
body.node-type-project #content-title {
  display: none;
}

/**
 * NODE - Page - Default
 */
/**
 * NODE - Article - Default
 */
.node-article .field-name-field-article-image-2 {
  margin: 1.5em 0 0 0;
}
.node-article .field-name-field-article-image-2 .field-item {
  float: left !important;
  width: 21%;
  margin: 2% 2% 2% 2%;
}

/**
 * NODE - Project - Default
 */
.node-project {
  /* Decrease all heading font sizes by -0.375em to accommodate narrow column layout. */
  /* Release date. */
  /* Services. */
  /* Experience. */
  /* Block-level links. */
}
.node-project h1 {
  font-size: 2.5em;
}
.node-project h2 {
  font-size: 2em;
}
.node-project h3 {
  font-size: 1.75em;
}
.node-project h4 {
  font-size: 1.5em;
}
.node-project h5 {
  font-size: 1.250em;
}
.node-project h6 {
  font-size: 1em;
}
.node-project .meta .field-type-date .field-items {
  position: relative;
  padding-left: 0;
  margin-left: 2.142857142857143em;
}
.node-project .meta .field-type-date .field-item:before {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.525em;
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f073" !important;
}
.node-project .field-name-field-project-type {
  font-size: 1.375em;
  color: #666666;
}
.node-project .field-name-field-project-image {
  margin: 0.5em 1em 4em 1em;
}
.node-project .field-name-field-project-image .field-item {
  position: relative;
}
.node-project .field-name-field-project-image .field-item .field-name-field-project-image-mobile-laptop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.node-project .group-project-image-2 {
  margin: 0 5em 0 5em;
}
.node-project .field-name-field-global-t-service ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.node-project .field-name-field-global-t-service li {
  position: relative;
}
.node-project .field-name-field-global-t-service li:before {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.33482142857142859375em;
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  color: #999999;
}
.node-project a.blocklevel:hover .field-name-field-project-type {
  color: black;
}

/**
 * VIEWS
 */
.view .node-project .field-name-field-project-image {
  margin: 0;
  /* Reset margin to 0 to override margin used in default node rules. */
}

/**
 * VIEWS - Project - Page Grid
 */
.view .views-view-grid .node-project .field-name-field-project-type {
  font-size: 1rem;
}

/**
 * VIEWS - Project - Embed in node
 */
.view.view-project-reference .node-project .field-name-field-project-type {
  font-size: 1rem;
}

/**
 * NODE - Organization - Default
 */
/**
 * VIEWS - Organization - Page Grid
 */
.view .views-view-grid .node-organization {
  /* Fix vertical and horizontal alignment in 'field-item' container (with the help of 'unifyContainer' JavaScript function). */
}
.view .views-view-grid .node-organization .field-name-field-org-logo .field-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.view .views-view-grid .node-organization .field-name-field-org-logo .field-item img {
  max-width: 200px;
}

/**
 * NODE - Person - Default
 */
/* Education. */
.node-person .field-name-field-person-educ > .field-items > .field-item,
.node-person .field-name-field-person-educ-2 > .field-items > .field-item {
  padding: 1em 0 1em 0;
  border-bottom: 1px dashed #999999;
}
.node-person .field-name-field-person-educ > .field-items > .field-item:first-child,
.node-person .field-name-field-person-educ-2 > .field-items > .field-item:first-child {
  border-top: 1px dashed #999999;
}

.node-person .field-name-field-person-educ-educ {
  font-size: 1.125em;
  font-weight: bold;
}

.node-person .field-name-field-person-educ-loc {
  color: #999999;
}

.node-person .field-name-field-person-educ-date {
  font-size: 1.250em;
  font-weight: bold;
  color: #bfbfbf;
  text-align: right;
}

@media only screen and (max-width: 319px) {
  .node-person .field-name-field-person-educ-date {
    font-size: 1em;
  }
}
.node-person .field-name-field-person-educ-descr {
  font-size: 0.875em;
  color: #999999;
}

/* Experience. */
.node-person .field-name-field-person-exper > .field-items > .field-item,
.node-person .field-name-field-person-exper-2 > .field-items > .field-item {
  padding: 1em 0 1em 0;
  border-bottom: 1px dashed #999999;
}
.node-person .field-name-field-person-exper > .field-items > .field-item:first-child,
.node-person .field-name-field-person-exper-2 > .field-items > .field-item:first-child {
  border-top: 1px dashed #999999;
}

.node-person .field-name-field-person-exper-exper {
  font-size: 1.125em;
  font-weight: bold;
}

.node-person .field-name-field-person-exper-loc {
  color: #999999;
}

.node-person .field-name-field-person-exper-date {
  font-size: 1.250em;
  font-weight: bold;
  color: #bfbfbf;
  text-align: right;
}

@media only screen and (max-width: 319px) {
  .node-person .field-name-field-person-exper-date {
    font-size: 1em;
  }
}
.node-person .field-name-field-person-exper-descr {
  font-size: 0.875em;
  color: #999999;
}

/* Skills. */
.node-person .field-name-field-person-skill > .field-items > .field-item,
.node-person .field-name-field-person-skill-2 > .field-items > .field-item {
  position: relative;
  float: left;
  padding: 2% 2%;
}

.node-person .field-name-field-person-skill-skill {
  top: 100px;
  width: 120px;
  font-weight: bold;
  text-align: center;
}

/**
 * NODE - Testimonial - Default
 */
.node-testimonial .node-title {
  display: none;
}
.node-testimonial .field-name-body {
  font-style: italic;
  color: #666666;
}
.node-testimonial .field-name-body p:first-child:before {
  content: open-quote;
  position: relative;
  top: 1rem;
  padding-right: 0.313rem;
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  color: #999999;
  line-height: 1rem;
}
.node-testimonial .field-name-body p:last-child:after {
  content: close-quote;
  position: relative;
  top: 1rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  color: #999999;
  line-height: 1rem;
}
.node-testimonial .field-name-field-testimonial-author-name {
  display: inline-block;
  margin-left: 2em;
  font-size: 0.875rem;
  font-style: italic;
  color: #737373;
}
.node-testimonial .field-name-field-testimonial-author-name .separator {
  font-weight: normal;
}
.node-testimonial .field-name-field-testimonial-author-title, .node-testimonial .field-name-field-testimonial-author-org {
  display: inline-block;
  font-size: 0.813rem;
  font-style: italic;
  color: #737373;
}
.node-testimonial .field-name-field-testimonial-author-title .separator, .node-testimonial .field-name-field-testimonial-author-org .separator {
  font-weight: normal;
}

/* Hide page title. */
body.node-type-testimonial #page-title {
  display: none;
}

/**
 * NODE - Feed - Content region
 */
/* Default. */
.feed-item h3.feed-item-title {
  margin: 1.25em 0 0 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  color: #ff862a;
  line-height: 1em;
  text-align: left;
}

.feed-item h3.feed-item-title a {
  color: #ff862a;
  text-decoration: none;
}

.feed-item h3.feed-item-title a:hover {
  color: #00879c;
}

.feed-item .feed-item-description {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.688em;
  font-weight: normal;
  color: #cccccc;
  line-height: 1em;
  text-align: left;
}

.feed-item .feed-item-timestamp {
  margin: 0.1875em 0 0 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.625em;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  line-height: 0.75em;
  text-align: left;
}

/* Microblog. */
.feed-item.feed-item-type-microblog {
  margin: 0;
  padding: 0.625em 0 0.625em 0;
  border-bottom: 1px dashed #999999;
}

.feed-item.feed-item-type-microblog h3.feed-item-title {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.feed-item.feed-item-type-microblog .feed-item-description {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #cccccc;
  line-height: 1.125em;
  text-align: left;
}

.feed-item.feed-item-type-microblog .feed-item-description a {
  color: #1db0dd;
}

/* Twitter feed. */
.container-socialmedia-feed #feed-twitter {
  width: 170px;
}

.container-socialmedia-feed #feed-twitter .tweet {
  padding: 2px 0 2px 0;
  border-bottom: 1px dashed #9f9f9f;
  /*background: url(/sites/all/themes/o0/images/icons/o0-24x24.png) left 4px no-repeat;*/
  font-family: Arial, Helvetica, sans-serif;
}

.container-socialmedia-feed #feed-twitter .tweet:first-child {
  border-top: 1px dashed #9f9f9f;
}

.container-socialmedia-feed #feed-twitter .tweet .tweet-content {
  display: block;
  font-size: 10px;
  font-weight: normal;
  color: #777;
  line-height: 13px;
}

.container-socialmedia-feed #feed-twitter .tweet .tweet-content a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #3274d0;
}

.container-socialmedia-feed #feed-twitter .tweet .tweet-timestamp {
  display: block;
  font-size: 9px;
  font-style: italic;
  color: #999;
}

.container-socialmedia-feed a span.url {
  display: block;
  padding: 5px 0 0 5px;
  font-size: 9px;
  color: #333;
  line-height: 9px;
  text-decoration: none;
}

.container-socialmedia-feed a:hover span.url {
  color: #666;
}

/**
 * COLORBOX
 */
/**
 * Colorbox Core Style:
 * The following CSS is consistent between example themes and should not be altered.
 */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * These elements are buttons, and may need to have additional
 * styles reset to avoid unwanted base styles.
 */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
  cursor: pointer;
}

/**
 * Avoid outlines on :active (mouseclick),
 * but preserve outlines on :focus (tabbed navigating)
 */
#cboxPrevious:active, #cboxNext:active, #cboxClose:active, #cboxSlideshow:active {
  outline: 0;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* Reset box sizing to content-box if theme is using border-box. */
#colorbox, #cboxContent, #cboxLoadedContent {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Colorbox module 'o0' style:
 * The styles are ordered & tabbed in a way that represents
 * the nesting of the generated HTML.
 */
#cboxOverlay {
  background: #fff;
}

#colorbox {
  background: white url(images/bg_tab.png) center bottom repeat-x;
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  outline: 0;
}

#colorbox, #colorbox div {
  overflow: visible;
  /* Required by the close button. */
}

#cboxWrapper {
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

#cboxTopLeft {
  width: 0;
  height: 0;
}

#cboxTopCenter {
  height: 0;
}

#cboxTopRight {
  width: 0;
  height: 0;
}

#cboxBottomLeft {
  width: 15px;
  height: 10px;
}

#cboxBottomCenter {
  height: 10px;
}

#cboxBottomRight {
  width: 15px;
  height: 10px;
}

#cboxMiddleLeft {
  width: 0;
}

#cboxMiddleRight {
  width: 0;
}

#cboxContent {
  background: #fff;
  overflow: hidden;
  margin-bottom: 28px;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxTitle {
  left: 0;
  height: 38px;
  color: #313131;
  padding: 0 140px 0 15px;
  display: table-cell;
  vertical-align: middle;
}

#cboxCurrent {
  position: absolute;
  bottom: -30px;
  right: 80px;
  color: #313131;
  padding: 0 0 0 15px;
}

/* Slideshow not implemented. */
.cboxSlideshow_on #cboxSlideshow {
  display: none;
}

.cboxSlideshow_off #cboxSlideshow {
  display: none;
}

#cboxPrevious {
  position: absolute;
  bottom: -30px;
  right: 45px;
  background: url(../libraries/colorbox/styles/o0/images/controls.png) no-repeat -8px -88px;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

#cboxPrevious:hover {
  background-position: -48px -88px;
}

#cboxNext {
  position: absolute;
  bottom: -30px;
  right: 15px;
  background: url(../libraries/colorbox/styles/o0/images/controls.png) no-repeat -8px -48px;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

#cboxNext:hover {
  background-position: -48px -48px;
}

#cboxLoadingOverlay {
  background: #f2f2f2;
}

#cboxLoadingGraphic {
  background: url(../libraries/colorbox/styles/o0/images/loading.png) no-repeat center center;
}

#cboxClose {
  position: absolute;
  top: -12px;
  right: -12px;
  background: url(../libraries/colorbox/styles/o0/images/controls.png) no-repeat -8px -8px;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  opacity: 0;
}

#cboxClose:hover {
  background-position: -48px -8px;
}

#cboxCurrent {
  font-size: 0.813em;
  color: gray;
}

#cboxContent {
  -moz-box-shadow: 0px 3px 10px #999;
  -webkit-box-shadow: 0px 3px 10px #999;
  box-shadow: 0px 3px 10px #999;
}
