/**
 * 'o0' THEME STYLESHEET
 * STYLES
 *
 * Created 22/04/2009
 * Modified 05/2013
 *
 * Handcrafted by Olivier Dubois, olivierdubois.com
 *
 * Built with Sass awesomeness
 *
 */
/**
 * GLOBAL ELEMENTS
 */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 100%;
  /* Fix the exaggerated text resizing in IE6/IE7. */
  font-size: 16px;
  /* Set font size baseline. */
  line-height: 26px;
  /* Set line height baseline. */
  color: #333333;
  background: white;
}

p {
  margin: 1em 0 1em 0;
}
p.first {
  font-size: 1.25em;
  color: rgba(51, 51, 51, 0.9);
}
p.emphasis {
  font-size: 1.25em;
}
p.note.small {
  font-size: 0.825em;
  font-style: italic;
  color: #999999;
}

a {
  color: #178db1;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a:hover {
  color: #178db1;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em 0;
  font-family: "jaf-facitweb-1", "jaf-facitweb-2", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ff862a;
  line-height: 1.25em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #ff862a;
  text-decoration: none !important;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #995019;
}

ul, ol {
  margin: 0.75em 1.25em 0.75em 1.875em;
}

ul ul, ol ol, ul ul ul, ol ol ol {
  font-size: inherit;
}

form {
  margin: 0;
}

img {
  border: 0;
}

/* Set font baseline for containers. */
#content-content {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}

/**
 * LAYOUT
 */
* {
  margin: 0;
  padding: 0;
}

#top-nav-container {
  height: 100px;
}

#header-wrapper {
  margin: 0 0 50px 0;
}

#footer-wrapper {
  padding: 1em 0 1em 0;
}

.column {
  float: left;
}

/**
 * BLOCKS
 */
/**
 * NAVIGATION TOP-LEVEL
 */
#navigation a {
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ff862a;
  text-decoration: none;
}

/**
 * LANGUAGE SWITCHER
 */
#block-locale-language-content {
  display: block;
  clear: both;
}

#block-locale-language-content h2 {
  display: none;
}

#block-locale-language-content ul.language-switcher-locale-url {
  margin: 0;
  padding: 0;
  list-style: none;
}

#block-locale-language-content ul.language-switcher-locale-url li {
  float: left;
  margin: 0 10px 0 0;
  font-size: 9px;
  text-transform: uppercase;
}

#block-locale-language-content ul.language-switcher-locale-url li.last {
  float: none;
}

#block-locale-language-content ul.language-switcher-locale-url li a {
  color: #999;
  text-decoration: none;
}

#block-locale-language-content ul.language-switcher-locale-url li a:hover {
  color: #666;
}

#block-locale-language-content ul.language-switcher-locale-url li a.active {
  color: #ccc;
}

/**
 * PAGER
 */
div.item-list ul.pager {
  height: 29px;
  padding-top: 13px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

div.item-list ul.pager li {
  background: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 0;
  margin: 0;
  color: #999999;
}

div.item-list ul.pager li a {
  margin: 0;
  padding: 0 6px;
  color: #999999;
  text-decoration: none;
}

div.item-list ul.pager li.pager-current {
  background: #d6d6d6 url(../images/bg-pager-li.jpg) repeat-x 0 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 8px;
  margin: 0;
  color: #333333;
}

div.item-list ul.pager li.pager-current a {
  border-left: none;
}

div.item-list ul.pager li.pager-previous a,
div.item-list ul.pager li.pager-next a,
div.item-list ul.pager li.pager-first a,
div.item-list ul.pager li.pager-last a {
  display: none;
}

/**
 * BUTTON - Default - ZURB Foundation
 */
/* CSS from ZURB Foundation (v4) 'button' class, 'as-is' from 'foundation.css' */
button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #999999;
  border-color: #7a7a7a;
  color: white;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

/* Overrides */
button, .button {
  background-color: #999999;
  border-color: #7a7a7a;
  /*font-family: inherit;*/
  /*font-size: 1em;*/
  /*font-weight: bold;*/
  /*color: rgb(255, 255, 255);*/
  /*text-transform: uppercase;*/
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
  -webkit-appearance: none;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #7a7a7a;
  border-color: #5c5c5c;
  color: white;
}

button:active, .button:active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
}

button.secondary, .button.secondary {
  background-color: #cccccc;
  border-color: #a3a3a3;
  /*font-family: inherit;*/
  /*font-size: 1em;*/
  /*font-weight: bold;*/
  /*color: rgb(255, 255, 255);*/
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #999999;
  border-color: #7a7a7a;
  color: white;
}

button.large, .button.large {
  /*font-size: 1.25em;*/
  padding-top: 1.03125em;
  padding-bottom: 1.03125em;
  -webkit-appearance: none;
}

button.small, .button.small {
  /*font-size: 0.8125em;*/
  padding-top: 0.625em;
  padding-bottom: 0.5625em;
  -webkit-appearance: none;
}

button.tiny, .button.tiny {
  /*font-size: 0.6875em;*/
  padding-top: 0.5em;
  padding-bottom: 0.4375em;
  -webkit-appearance: none;
}

button.radius, .button.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

button.round, .button.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}

@media only screen and (min-width: 768px) {
  button, .button {
    display: inline-block;
  }
}
/* 'Brown' Colour */
button.button-style-brown, .button.button-style-brown {
  background-color: #691a02;
  border-color: #3f1001;
  /*font-family: inherit;*/
  /*font-size: 1em;*/
  /*font-weight: bold;*/
  /*color: rgb(255, 255, 255);*/
  /*text-transform: uppercase;*/
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
  -webkit-appearance: none;
}

button.button-style-brown:hover, button.button-style-brown:focus, .button.button-style-brown:hover, .button.button-style-brown:focus {
  background-color: #3f1001;
  border-color: #150500;
  color: white;
}

button.button-style-brown:active, .button.button-style-brown:active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
}

/**
 * BUTTON - Comments, Language Link - Reply, Permalink, etc.
 */
/* CSS from ZURB Foundation 'button' class, 'as-is' from 'foundation.css' */
.comment-reply a,
a.permalink,
a.language-link {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #999999;
  border-color: #7a7a7a;
  color: white;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

/* Overrides */
.comment-reply a,
a.permalink,
a.language-link {
  background-color: #cccccc;
  border: none;
  box-shadow: none;
  /*-webkit-border-radius: 3px; border-radius: 3px;*/
  /* .button.radius */
  /*font-family: inherit;*/
  font-size: 0.6875em;
  /* .button.tiny */
  /*font-weight: bold;*/
  /*color: rgb(255, 255, 255);*/
  text-transform: uppercase;
  padding-top: 0.3333em;
  padding-bottom: 0.2916em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-appearance: none;
}

a.permalink {
  background: none;
  color: #b7b7b7;
}

.comment-reply a:hover, .comment-reply a:focus,
a.permalink:hover, a.permalink:focus,
a.language-link:hover, a.language-link:focus {
  background-color: #a3a3a3;
  border: none;
  color: white;
}

@media only screen and (min-width: 768px) {
  .comment-reply a {
    display: inline-block;
  }
}
/**
 * FORM
 */
/**
 * NODE - All - Default
 */
/* Heading */
h1 {
  font-size: 2.625em;
}

h2 {
  font-size: 2.375em;
}

h3 {
  font-size: 2.125em;
}

h4 {
  font-size: 1.875em;
}

h5 {
  font-size: 1.625em;
}

h6 {
  font-size: 1.375em;
}

/* Page Title */
h1#page-title {
  margin-top: 0;
  color: #ff862a;
}

/**
 * PANELS
 */
/* Panel Title */
h2.pane-title {
  margin: 0em 0 0em 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  font-weight: normal;
  color: #ff862a;
  line-height: 2.125em;
}

/* Twitter feed */
.container-socialmedia-feed #feed-twitter {
  width: 170px;
}

.container-socialmedia-feed #feed-twitter .tweet {
  padding: 2px 0 2px 0;
  border-bottom: 1px dashed #9f9f9f;
  /*background: url(/sites/all/themes/o0/images/icons/o0-24x24.png) left 4px no-repeat;*/
  font-family: Arial, Helvetica, sans-serif;
}

.container-socialmedia-feed #feed-twitter .tweet:first-child {
  border-top: 1px dashed #9f9f9f;
}

.container-socialmedia-feed #feed-twitter .tweet .tweet-content {
  display: block;
  font-size: 10px;
  font-weight: normal;
  color: #777;
  line-height: 13px;
}

.container-socialmedia-feed #feed-twitter .tweet .tweet-content a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #3274d0;
}

.container-socialmedia-feed #feed-twitter .tweet .tweet-timestamp {
  display: block;
  font-size: 9px;
  font-style: italic;
  color: #999;
}

.container-socialmedia-feed a span.url {
  display: block;
  padding: 5px 0 0 5px;
  font-size: 9px;
  color: #333;
  line-height: 9px;
  text-decoration: none;
}

.container-socialmedia-feed a:hover span.url {
  color: #666;
}

.node .feed-item-timestamp {
  margin: 3px 0 0 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  line-height: 1em;
  text-align: left;
}

.node .content {
  margin: 15px 0 0 0;
}

.node .comments,
.node .comments h2.title {
  color: #666666 !important;
}

.node .comments fieldset.filter-wrapper {
  display: none;
}

/**
 * OVERRIDE
 */
/* Homepage title */
body.front #content-title,
body.page-node-1 #content-title {
  display: none;
}

/**
 * NODE
 */
/* Default */
.node .meta .submitted {
  margin: 0.1875em 0 0 0;
  padding: 0;
  font-size: 0.625em;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  line-height: 0.75em;
  text-align: left;
}

/* Date fields */
.node .field-type-date {
  font-size: 0.875em;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
}

.node .meta .field-type-date .field-items {
  position: relative;
  padding-left: 0;
  margin-left: 2.142857142857143em;
}
.node .meta .field-type-date .field-item:before {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.525em;
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f017";
}

/**
 * NODE - Article - Default
 */
.node.node-article .field-name-field-article-image-2 {
  margin: 1.5em 0 0 0;
}

.node.node-article .field-name-field-article-image-2 .field-item {
  float: left !important;
  width: 21%;
  margin: 2% 2% 2% 2%;
}

/**
 * NODE - Project - Default
 */
.node.node-project .field-name-field-project-type {
  font-size: 1.375em;
}

/**
 * NODE - Feed - Content region
 */
/* Default */
.feed-item h3.feed-item-title {
  margin: 1.25em 0 0 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  color: #ff862a;
  line-height: 1em;
  text-align: left;
}

.feed-item h3.feed-item-title a {
  color: #ff862a;
  text-decoration: none;
}

.feed-item h3.feed-item-title a:hover {
  color: #00879c;
}

.feed-item .feed-item-description {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.688em;
  font-weight: normal;
  color: #cccccc;
  line-height: 1em;
  text-align: left;
}

.feed-item .feed-item-timestamp {
  margin: 0.1875em 0 0 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.625em;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  line-height: 0.75em;
  text-align: left;
}

/* Microblog */
.feed-item.feed-item-type-microblog {
  margin: 0;
  padding: 0.625em 0 0.625em 0;
  border-bottom: 1px dashed #999999;
}

.feed-item.feed-item-type-microblog h3.feed-item-title {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.feed-item.feed-item-type-microblog .feed-item-description {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #cccccc;
  line-height: 1.125em;
  text-align: left;
}

.feed-item.feed-item-type-microblog .feed-item-description a {
  color: #1db0dd;
}

/**
 * VIEWS
 */
/* Default */
.view .views-row {
  padding: 0.625em 0 0.625em 0;
  border-bottom: 1px dashed #999999;
}

.view .views-row.views-row-first {
  border-top: 1px dashed #999999;
}

.view .node .meta .field-type-date .field-items {
  position: relative;
  padding-left: 0;
  margin-left: 2.142857142857143em;
}
.view .node .meta .field-type-date .field-item:before {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.525em;
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f017";
}

/**
 * VIEWS - Page Grid
 */
/* Default */
.view .views-view-grid h2.node-title {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1.125em;
  line-height: 1.125em;
}

.view .views-view-grid .node .field-type-date {
  font-size: 0.75em;
}

@media only screen and (max-width: 767px) {
  .view .views-view-grid .node {
    margin: 0em 0 0em 0;
    padding: 0em 0 0.938em 0;
    border-bottom: 1px dashed #999999;
  }
}
/**
 * VIEWS - Project - Page Grid
 */
.view .views-view-grid .node.node-project .field-name-field-project-type {
  font-size: 1em;
}

/**
 * BLOCK - Copyright
 */
#block-block-1 {
  font-size: 0.625em;
  color: #666666;
  line-height: 1em;
}

#block-block-1 p {
  margin: 0;
}

#block-block-1 a {
  color: #666666;
  text-decoration: none;
}

#block-block-1 a:hover {
  color: #333333;
}

/**
 * BLOCK - Credits
 */
#block-block-2 {
  font-size: 0.625em;
  color: #666666;
  line-height: 1em;
}

#block-block-2 p {
  margin: 0;
}

#block-block-2 a {
  color: #666666;
  text-decoration: none;
}

#block-block-2 a:hover {
  color: #333333;
}

/**
 * BLOCK - Channels
 */
#block-block-5 ul.channels li {
  display: block;
  float: left;
  margin: 0 1em 0.3125em 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

#block-block-5 ul.channels li a span {
  display: none;
}

#block-block-5 ul.channels li a {
  display: block;
  /*width: 48px;
  min-height: 48px;*/
  padding: 0;
  font-size: 3em;
  color: #999;
  line-height: 1em;
  text-decoration: none;
}

#block-block-5 ul.channels li a:hover {
  color: black;
}

#block-block-5 ul.channels li.facebook a:hover {
  color: #3b5998;
}

#block-block-5 ul.channels li.twitter a:hover {
  color: #00aced;
}

#block-block-5 ul.channels li.delicious a:hover {
  color: black;
}

#block-block-5 ul.channels li.lastfm a {
  padding-top: 1em;
  font-size: 1.5em;
}

#block-block-5 ul.channels li.lastfm a:hover {
  color: #d51007;
}

#block-block-5 ul.channels li.linkedin a:hover {
  color: #0077b5;
}

/**
 * COMMENTS
 */
/* Default */
#comments {
  border-top: 1px solid #999999;
}

#comments h2.title.comment-form {
  font-size: 1.25em;
  color: #666666;
}

#comments .comment {
  border-top: 1px dashed #e5e5e5;
  margin: 0.3125em 0 0.3125em 0;
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  /*background: rgb(243, 243, 243);*/
}

#comments .comment .content {
  margin: 0px 0 0px 0;
}

#comments .comment .content p {
  margin: 0.125em 0 0.125em 0;
}

#comments .comment .submitted {
  font-size: 0.75em;
  color: #999999;
}

#comments .comment .submitted a.permalink {
  color: #999999;
}

#comments .comment .links {
  margin: 0 0 0 0;
}

/*
#comments .comment .links a {
padding: 1px 3px 1px 3px;
background-color: rgb(204, 204, 204);
font-size: 10px;
color: rgb(255, 255, 255);
text-transform: uppercase;
}
#comments .comment .links a:hover,
#comments .comment .links a:active {
background-color: rgb(153, 153, 153);
}*/
/*
#comments .comment a.permalink {
padding: 1px 3px 1px 3px;
font-size: 10px;
color: rgb(179, 179, 179);
text-transform: uppercase;
}
#comments .comment a.permalink:hover,
#comments .comment a.permalink:active {
background-color: rgb(153, 153, 153);
color: rgb(255, 255, 255);
}*/
#comments #edit-comment-body-und-0-format {
  display: none;
}

.form-item-mollom-captcha .description {
  font-size: 0.625em;
  color: #666666;
}
