/**
 * LAYOUT
 */

* {
  margin: 0;
  padding: 0;
}

body {
}

#page {
}

#header-wrapper {
  margin: 0 0 50px 0;
}

#header-first {
  padding-top: 1em;
}

#navigation-global {
  padding-top: 1em;
}

#postscript-wrapper {
  padding: 1em 0 1em 0;
}

#footer-wrapper {
  padding: 1em 0 1em 0;
}

.column {
  float: left;
}
