//**
//* 'o0' THEME STYLESHEET
//* CONTENT
//* Typography, View styles, Block styles, etc.
//* 22/04/2009
//*
//* by Olivier Dubois, olivierdubois.com
//*
//*/




/**
 * NODE - All - Default
 */

/* Heading */
h1 {
  font-size: 2.625em; // Default: 2.375em
}
h2 {
  font-size: 2.375em; // Default: 2.125em
}
h3 {
  font-size: 2.125em; // Default: 1.875em
}
h4 {
  font-size: 1.875em; // Default: 1.625em
}
h5 {
  font-size: 1.625em; // Default: 1.375em
}
h6 {
  font-size: 1.375em; // Default: 1.125em
}

/* Page Title */
h1#page-title {
  margin-top: 0;
  color: $font-color-heading;
}












/**
 * PANELS
 */

/* Panel Title */
h2.pane-title {
  margin: 0em 0 0em 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  font-weight: normal;
  color: rgb(255, 134, 42);
  line-height: 2.125em;
}













/* Twitter feed */
.container-socialmedia-feed #feed-twitter {
  width: 170px;
}
.container-socialmedia-feed #feed-twitter .tweet {
  padding: 2px 0 2px 0;
  border-bottom: 1px dashed #9f9f9f;
  /*background: url(/sites/all/themes/o0/images/icons/o0-24x24.png) left 4px no-repeat;*/
  font-family: Arial, Helvetica, sans-serif;
}
.container-socialmedia-feed #feed-twitter .tweet:first-child {
  border-top: 1px dashed #9f9f9f;
}
.container-socialmedia-feed #feed-twitter .tweet .tweet-content {
  display: block;
  font-size: 10px;
  font-weight: normal;
  color: #777;
  line-height: 13px;
}
.container-socialmedia-feed #feed-twitter .tweet .tweet-content a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #3274d0;
}
.container-socialmedia-feed #feed-twitter .tweet .tweet-timestamp {
  display: block;
  font-size: 9px;
  font-style: italic;
  color: #999;
}

.container-socialmedia-feed a span.url {
  display: block;
  padding: 5px 0 0 5px;
  font-size: 9px;
  color: #333;
  line-height: 9px;
  text-decoration: none;
}
.container-socialmedia-feed a:hover span.url {
  color: #666;
}


























.node .feed-item-timestamp {
  margin: 3px 0 0 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(153, 153, 153);
  text-transform: uppercase;
  line-height: 1em;
  text-align: left;
}


.node .content {
  margin: 15px 0 0 0;
}


.node .comments, 
.node .comments h2.title {
  color: rgb(102, 102, 102) !important;
}

.node .comments fieldset.filter-wrapper {
  display: none;
}










/**
 * OVERRIDE
 */

/* Homepage title */
body.front #content-title, 
body.page-node-1 #content-title {
  display: none;
}
