//**
//* 'o0' THEME STYLESHEET
//* LAYOUT
//* 22/04/2009
//*
//* by Olivier Dubois, olivierdubois.com
//*
//*/




/**
 * LAYOUT
 */

* {
  margin: 0;
  padding: 0;
}

body {
}

#page {
}

#top-nav-container {
  height: 100px;
}

#header-wrapper {
  margin: 0 0 50px 0;
}

#masthead-wrapper {
}

#masthead-top {
}

#masthead-first {
}

#masthead-second {
}

#masthead-last {
}

#masthead-page-toolbar {
}

#statusbar {
}

#preface-wrapper {
}

#preface-first {
}

#preface-second {
}

#preface-third {
}

#preface-last {
}

#main-wrapper {
}

#content-container {
}

#sidebar-first {
}

#sidebar-second {
}

#sidebar-last {
}

#postscript-wrapper {
}

#postscript-first {
}

#postscript-second {
}

#postscript-third {
}

#postscript-last {
}

#footer-wrapper {
  padding: 1em 0 1em 0;
}

.column {
  float: left;
}




/**
 * BLOCKS
 */
